<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <table class="table table-striped">
      <tr>
        <th>Nome</th>
        <th>Descricao</th>
        <th>Mesa</th>
        <th></th>
      </tr>

      <tr ng-repeat="pedido in pedidos">
        <td>{{pedido.prato.nome}}</td>
        <td>{{pedido.prato.descricao}}</td>
        <td>{{pedido.mesa}}</td>
        <td><button class="btn btn-warning" ng-click="pedidoPronto(pedido)">Pedido Pronto</a></td>
      </tr>
    </table>

{{certo}}

  </div>
</div>
