<div class="row">
  <div class="col-md-10 col-md-offset-10">

    <table class="table table-striped">
      <tr>
        <th>Codigo</th>
        <th>Nome</th>
        <th>Descricao</th>
        <th>Preco</th>
        <th>Remover?</th>
      </tr>

      <tr ng-repeat="prato in pratos">
        <td>{{prato.id}}</td>
        <td>{{prato.nome}}</td>
        <td>{{prato.descricao}}</td>
        <td>{{prato.preco}}</td>
        <td><a href="#" ng-click="removerPrato(prato)">Remover</a></td>
      </tr>
    </table>

    <form class="form-inline">
      <div class="form-group">
        <input type="number" class="form-control" placeholder="codigo" ng-model="prato.id">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="nome" ng-model="prato.nome">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="descricao" ng-model="prato.descricao">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" placeholder="preco" ng-model="prato.preco">
      </div>
      <button type="button" class="btn btn-success" ng-click="adicionarPrato(prato)">Adicionar</button>
    </form>

  </div>
</div>
