<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <table class="table table-striped">
      <tr>
        <th>Codigo</th>
        <th>Nome</th>
        <th>Descricao</th>
        <th>Preco</th>
        <th></th>
      </tr>

      <tr ng-repeat="p in cardapio">
        <td>{{p.id}}</td>
        <td>{{p.nome}}</td>
        <td>{{p.descricao}}</td>
        <td>{{p.preco}}</td>
        <td><button class="btn btn-danger" ng-click="removerPrato(p)">Remover</button></td>
      </tr>

      <tr>
        <td></td>
        <td>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="nome" ng-model="prato.nome">
          </div>
        </td>
        <td>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="descricao" ng-model="prato.descricao">
          </div>
        </td>
        <td>
          <div class="form-group">
            <input type="number" class="form-control" placeholder="preco" ng-model="prato.preco">
          </div>
        </td>
        <td>
          <button type="button" class="btn btn-success btn-block" ng-click="adicionarPrato(prato)">Adicionar</button>
        </td>
      </tr>

    </table>

  </div>
</div>
