<div class="row">
  <div class="col-md-9">
    <h4>Funcionarios</h4>
    <table class="table table-striped">
      <tr>
        <th>Codigo</th>
        <th>Nome</th>
        <th>Cargo</th>
        <th>Login</th>
        <th></th>
      </tr>

      <tr ng-repeat="funcionario in funcionarios">
        <td>{{funcionario.cod_usuario}}</td>
        <td>{{funcionario.nome}}</td>
        <td>{{funcionario.cargo}}</td>
        <td>{{funcionario.login}}</td>
        <td><button class="btn btn-danger" ng-click="removerFuncionario(funcionario)">Remover</button></td>
      </tr>
    </table>
  </div>

  <div class="col-md-3">
    <h4>Adicionar Funcionario</h4>
    <form name="form_usuario">

      <div class="form-group">
        <label for="username">Nome</label>
        <input type="text" class="form-control" id="username" ng-model="usuario.nome" required>
      </div>

      <div class="form-group">
        <label for="login">Login</label>
        <input type="text" class="form-control" id="login" ng-model="usuario.login" required>
      </div>

      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" class="form-control" id="password" ng-model="usuario.senha" required>
      </div>

      <div class="form-group">
        <label for="cargo">Cargo</label>
        <select class="form-control" id="cargo" ng-model="usuario.cargo" required>
          <option value="">Selecione um cargo</option>
          <option value="garcom">garcom</option>
          <option value="cozinha">cozinha</option>
          <option value="gerente">gerente</option>
        </select>
      </div>

      <button type="submit" class='btn btn-block btn-success' ng-disabled="form_usuario$invalid" ng-click="adicionarFuncionario(usuario)">Adicionar</button>

    </form>
  </div>

</div>
