<div class="navbar navbar-default navbar-static-top">

  <div class="container">

    <div class="navbar-header">
      <span class="navbar-brand">Meu Garçom - {{title}}</span>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#/gerente/relatorio" s-ref="relatorio">Relatorio</a></li>
      <li><a href="#/gerente/funcionario" s-ref="funcionario">Funcionarios</a></li>
      <li><a href="#/gerente/cardapio" s-ref="cardapio">Cardapio</a></li>
      <li><a href="#" ng-click="logout()">Sair</a></li>
    </ul>

  </div>

</div>
