<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <table class="table table-striped">
      <tr>
        <th>Nome</th>
        <th>Cliente</th>
        <th>Mesa</th>
        <th></th>
      </tr>

      <tr ng-repeat="prato in pratosProntos">
        <td>{{prato.nome}}</td>
        <td>{{prato.cliente.nome}}</td>
        <td>{{prato.cliente.mesa}}</td>
        <td><button class="btn btn-warning" ng-click="pratoEntregue(prato)">Entregar Prato</button></td>
      </tr>
    </table>

  </div>
</div>
