<div class="row">

  <div class="col-md-4 col-md-offset-4 login">

    <form name="loginForm">

      <div class="form-group">
        <label for="username">Usuario</label>
        <input type="text" class="form-control" id="username" ng-model="login">
      </div>

      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" class="form-control" id="password" ng-model="senha">
      </div>

      <div class="form-group">
        <label for="cargo">Cargo</label>
        <input type="text" class="form-control" id="cargo" ng-model="cargo">
      </div>

      <div class="form-group">
        <label for="cargo">Cargo</label>
        <select id="cargo" ng-model="cargo" ng-options="c in cargos">
          <option value="">Selecione um Cargo</option>
        </select>
      </div>

      <button class='btn btn-block btn-success' ng-click="login(usuario, senha, cargo)">Login</button>

    </form>

  </div>

</div>
