<div class="row">

  <div class="col-md-4 col-md-offset-4 login">
    <form name="formLogin">

      <div class="form-group">
        <label for="username">Usuario</label>
        <input type="text" class="form-control" id="username" ng-model="user.loginDigitado" required>
      </div>

      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" class="form-control" id="password" ng-model="user.senhaDigitada" required>
      </div>

      <div class="form-group">
        <label for="cargo">Cargo</label>
        <select class="form-control" id="cargo" ng-model="user.cargo" required>
          <option value="">Selecione um cargo</option>
          <option value="garcom">garcom</option>
          <option value="cozinha">cozinha</option>
          <option value="gerente">gerente</option>
        </select>
      </div>

      <button ng-disabled="formLogin.$invalid" class='btn btn-block btn-success' ng-click="logar(user)">Login</button>

    </form>

  </div>

</div>
